---
layout: default
title: Home
---

	<h1>Nothing to see here</h1>

	<div>
		<h2>Latest Posts</h2>

		{% assign posts = site.posts %}
		{% assign listing_limit = 5 %}
		{% include post-listing.html %}
	</div>
	
	<div>
	
	{% for category in page.categories %}
	  <h2><a href="/categories/{{ category | slugize }}">{{ category }}</a></h2>
	  <h6>{{ site.categories[category] | length }} posts</h6>

	  <h4>Latest Posts</h4>
	  <ul>
	    {% for post in site.categories[category] limit: 5 %}
	      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
	    {% endfor %}
	  </ul>
	{% endfor %}
	
	</div>